<% if @post.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@post.errors.count, "error" ) %> prohibited this post from being saved:
        </h2>

        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end %>
        </ul>
    </div>
    <% end %>
        <h1>
            <%= current_user[:id] %>
                Hello
        </h1>
        <%= form_with model: @post do |form| %>


            <%= label_tag(:title, "Title" ) %>
                <%= form.text_field :title, placeholder: "Title of your Post" %>
                    <br>
                    <%= label_tag(:body, "Body" ) %>
                        <%= form.text_area :body, size: "70x10" %>
                            <br>
                            <%= form.submit %>
                                <% end %>